<%= @user.id %>
<%= @user.email %>
<br>
<div id="photos">
  <% @user.photos.each do |photo| %>
    <%= image_tag photo.image.url(:thumb) %>
    <%= render photo %>
    <p>
      <%= link_to "Посмотреть фотографию", photo, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>