<div class="card">
  <div class="card-header">
    <h2>Изменить данные</h2>
  </div>
  <div class="card-body">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
  <div class="mb-3">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password %> <i>(оставьте поле пустым, если вы не хотите его изменять)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :current_password %> <i>(нам нужен ваш текущий пароль для подтверждения внесенных изменений)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Обноввить", class: "btn btn-primary" %>
  </div>
<% end %>
    <br>
<h3>Аннулируйте мою учетную запись</h3>

<p>Вы уверены? <%= button_to "Аннулируйте мою учетную запись", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %></p>

<%= link_to "Назад", :back, class: "btn btn-primary" %>
  </div>
</div>