<p style="color: green"><%= notice %></p>
<%= image_tag @photo.image.url %>
<%= render @photo %>

<div>

  <%= link_to "Редактировать фото", edit_photo_path(@photo) %> |
  <%= link_to "Вернуться к фотографиям", photos_path %>

  <%= button_to "Удалить фотографию", @photo, method: :delete %>
</div>
