<p style="color: green"><%= notice %></p>
<%= image_tag @photo.image.url %>
<%= render @photo %>

<div>

  <%= button_to "Редактировать фото", edit_photo_path(@photo) %>
  <%= button_to "Вернуться к фотографиям", photos_path %>
<br>
  <%= button_to "Удалить фотографию", @photo, method: :delete %>
</div><br><br>
