<!DOCTYPE html>
<html lang="en">
<head>
  <title>Myapp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>


</head>

<body>

<div class="container-fluid container-background">
  <div class="container-fluid container-background">
    <button type="button" class="btn btn-light"><%= link_to "Главная", root_path %></button>
    <button type="button" class="btn btn-warning"><%= link_to "О нас", pages_about_path %></button>

          <% if user_signed_in? %>
              <button type="button" class="btn btn-danger"><%= def destroy_user_session_path
                                                                  # code here
                                                                end
                                                                link_to "Выход", destroy_user_session_path %></button>
          <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= audio_tag "1.mp3", id: "player", class: "audio-to-play" %>
    <div>
      <button onclick="document.getElementById('player').play()">Воспроизведение</button>
      <button onclick="document.getElementById('player').pause()">Пауза</button>
      <button onclick="document.getElementById('player').volume+=0.1">Громкость +</button>
      <button onclick="document.getElementById('player').volume-=0.1">Громкость -</button>
    </div>

  </div>
</div>
</body>
</html>
